body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

#header {
    font-weight: 300;
    text-align:center;
    margin-bottom:15px;
}

#content {
    display:block;
    margin:0 auto;
    width:150px;
}

#content h4 {
    padding:0px;
    margin:0px;
}
